
<!-- // here i am applying -->
<form  action="/signin" method="post"> 
    <label>email</label>
    <input type="email" name="email"/>
    <label>password</label>
  <input type="password" name="password"/>

  <button type="submit">sign in</button>
    </form>